@model Purchase
@{
    ViewData["Title"] = "Details";
    var dateTime = DateTime.Now.ToString("dd/MM/yyyy hh:mm tt");
}

<div class="card shadow">
    <div class="card-header">
        <div class="row p-1">
            <p class="text-primary m-0 fw-bold col-3">Create Purchases</p>
            <button onclick="saveChanges()" type="button" class="btn btn-info col-1 mr-2 offset-8">
                Add
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12  mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <input id="Id" value="0" hidden class="form-control" type="text">
                            <div class="form-group col-4">
                                <label for="Date" class="control-label"></label>
                                <input id="Date" type="datetime-local" class="form-control" />
                                <span id="ErrorDate" class="text-danger"></span>
                            </div>

                            <div class="form-group col-8 mb-2">
                                <label for="Note"></label>
                                <textarea id="Note" rows="4" class="form-control"></textarea>
                                <span id="ErrorNote" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <span id="ErrorPurchaseMaterial" class="text-danger"></span>
                            </div>
                            <div class="offset-11">
                                <button type="button" class="btn btn-outline-info mr-2" onclick="ShowPurchaseMaterialForm()">Add Material</button>
                                <div class="modal fade" id="materialForm" tabindex="-1" aria-labelledby="materialFormLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="materialFormLabel">Add Material</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <input id="PurchaseId" value="0" hidden class="form-control" type="text">
                                                    <div class="form-group col-3">
                                                        <label for="MaterialId">Material</label>
                                                        <select id="MaterialId" asp-items="@ViewBag.selectListItems" class="form-select"></select>
                                                    </div>
                                                    <div class="form-group col-3">
                                                        <label for="NumberOfPieces">Number Of Pieces</label>
                                                        <input id="NumberOfPieces" onkeyup="ChangeNumberOfPieces()" class="form-control" type="number" />
                                                        <span id="ErrorNumberOfPieces" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group col-3">
                                                        <label for="PricePerPiece">Price Per Piece</label>
                                                        <input id="PricePerPiece" onkeyup="ChangePricePerPiece()" class="form-control" type="number" />
                                                        <span id="ErrorPricePerPiece" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group col-3">
                                                        <label for="TotalPrice">Total Price</label>
                                                        <input id="TotalPrice" onkeyup="ChangeTotalPrice()" class="form-control" type="number" />
                                                        <span id="ErrorTotalPrice" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" onclick="CreateMaterial()" class="btn btn-outline-info">Create</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <table class="table" id="purchaseMaterial" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Number Of Pieces</th>
                                            <th scope="col">Price Per Piece</th>
                                            <th scope="col">Total Price</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/purchaseCreateEdit.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            document.getElementById("Date").value = convertDateFormat('@dateTime');
        });
    </script>
}
